<%= stylesheet_link_tag 'diagnoses', media: "all" %>
<div class="questionback">
    <div class="overlay-content">
    <% if params[:answer] == "A" %>
        <h1>冒険的思考を選んだあなた</h1>
        <h2>どちらの文化に興味がありますか？</h2>
        <div class=question>
            <a href="/diagnoses/question3?answer=C&prev_answer=<%= params[:answer] %>">歴史的文化</a>
        </div>
        <div class=question>
            <a href="/diagnoses/question3?answer=D&prev_answer=<%= params[:answer] %>">近代的文化</a>
        </div>    
    <% elsif params[:answer] == "B" %>
        <h1>冒険的思考を選んだあなた</h1>
        <h2>どちらの文化に興味がありますか？</h2>
        <div class=question>
        <a href="/diagnoses/question3?answer=E&prev_answer=<%= params[:answer] %>">歴史的文化</a>
        </div>
        <div class=question>
        <a href="/diagnoses/question3?answer=F&prev_answer=<%= params[:answer] %>">近代的文化</a>
        </div>
    <% end %>
    </div>
</div>
